---
layout: default
---
<div class="home">
  <!-- SECTION FOR FEATURED POST -->
    <section class="site-section site-section-last">
    <div class="wrapper">
      <h1>featured articles</h1>
      {%  assign count = 0 %}
      {% for post in site.posts reversed  %}
      {% if post.featured == true  and count < 1 %}
        <div class"post post-featured">
         {% include post.html %}
      </div>
      {%  assign count = count | plus: 1 %}
      {% endif %}
      {% endfor %}
  </div>
</section>
  <!-- SECTION FOR FEATURED PROJECTS -->
  <!-- SECTION FOR LATEST ARTICLES -->
  <section class="site-section site-section-last">
    <div class="wrapper">
      <h1>latest articles</h1>
      <ul class="post-list">
      {% for post in site.posts reversed | limit:4 %}
        <li class"post">
         {% include post.html %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
</div>
















<!--   <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
